html, body {
    background-color: blanchedalmond;
    height: 100%;
    overflow-y: auto;
}

.logo {
    background-color: rosybrown;
    padding: 0.5em;
    height: 10vh;
    text-align: center;
    font-size: 1rem;
    font-family: monospace;
    color: orange;
}

p {
    text-align: center;
    font-size: 1rem;
    font-style: oblique;
    font-family: monospace;
    color: firebrick;
}

.quiz-content {
    text-align: center;
    color: orange;
    padding-bottom: 3%;
    background-color: beige;

}


.choices {
    text-align: initial;
    background-color: grey;
    padding-bottom: 25%
}

.results {
    text-align: center;
    background-color: beige;
    padding-bottom: 15%;
    min-height: 50%;
}
